<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/02_control_structures_assignment/src/com/aurionpro/controlstructures/assignment/HeightBillCalculator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.aurionpro.controlstructures.assignment.HeightBillCalculator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="02_control_structures_assignment"/>
</launchConfiguration>
